<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
 Get help with Fit Hub
  <a href="fitbyus.com">Fit Hub help page</a>.
  To get help with Fit Hub, see the
  <a href="http://fitbyus.com">Fit Hub</a>.
</p>