<h1>Editing Exercise</h1>

<%= render 'form' %>

<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Display', @exercise %></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Back To List', exercises_path %></button>
